// ================================================================
// BUTTONS ========================================================
// ================================================================

// Base button style

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 7px 26px 13px;
  text-transform: uppercase;
  font-family: $typeface__secondary;
  font-weight: 600;
  font-size: $fontsize__med / 1.5;

  &:link, &:visited {
    @include button--idle;
    box-shadow: inset 0 0 0 5px rgba($color__primary, 1);
  }

  &:hover {
    @include button--hover;
  }

  &:active, &:focus {
    @include button--active;
  }
}