.section__hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: $width__content;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.anim__actor {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  background-color: $color__primary;

  &::selection {
    background: transparent;
  }

  @for $i from 1 through 7 {
    .parallax__layer--0#{$i} {
      transition: transform 2.5s $ease-out, opacity 0.3s linear;
      transition-delay: $i / 6 + 0s;
      opacity: 0;
    }
  }

  .parallax__layer--01 {
    transform: translateZ(-14px) scale(0.1);
  }

  .parallax__layer--02 {
    transform: translateZ(-9px) scale(0.2);
  }

  .parallax__layer--03 {
    transform: translateZ(-6px) scale(0.3);
  }

  .parallax__layer--04 {
    transform: translateZ(-4px) scale(10);
  }

  .parallax__layer--05 {
    transform: translateZ(-3px) scale(12);
  }

  .parallax__layer--06 {
    transform: translateZ(-1px) scale(10);
  }

  .parallax__layer--07 {
    transform: translateZ(0px) scale(9);
  }

  &--in {
    background-color: $grey__xlight;

    @for $i from 1 through 7 {
      .parallax__layer--0#{$i} {
        opacity: 1;
      }
    }

    .parallax__layer--01 {
      transform: translateZ(-14px) scale(15);
    }

    .parallax__layer--02 {
      transform: translateZ(-9px) scale(10);
    }

    .parallax__layer--03 {
      transform: translateZ(-6px) scale(7);
    }

    .parallax__layer--04 {
      transform: translateZ(-4px) scale(5);
    }

    .parallax__layer--05 {
      transform: translateZ(-3px) scale(4);
    }

    .parallax__layer--06 {
      transform: translateZ(-1px) scale(2);
    }

    .parallax__layer--07 {
      transform: translateZ(0px) scale(1);
    }
  }
}

.parallax__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo--container {
  margin: auto;
  width: 200px;
}

.hero__logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: white;
}

.hero__logo--red {
  fill: $color__primary;
}

.hero__logo-shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-image: url('../img/logo_drop_shadow_small.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translate(-50%, -38%) scale(1.12);
  pointer-events: none;
}

.hero__text {
  font: 600 $fontsize__xlarge $typeface__secondary;
  width: 80vw;
  height: auto;
  color: lighten($grey__xlight, 8%);
  fill: currentcolor;
  display: none;
}

.section__hero__footer {
  width: 100%;
  max-width: 1200px + ($air * 4);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hero__footer__link {
  margin-left: $air / 2;

  &:first-child {
    margin-left: 0;
  }
}
