// =========
// ICONS ===
// =========

.widget__icon--gfx, .widget__icon--gfx:link, .widget__icon--gfx:visited {
  color: $color__primary;
  width: 38px;
  height: 38px;
  background: none;
  fill: currentcolor;
  stroke: currentcolor;
}
