// =========
// LOGOS ===
// =========

// Logo Wrapper
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 8;

  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
    transition: color $time__slow $ease__linear;

    .logo__icon {
      svg {
        fill: $grey__dark;
        background-color: none;
        transition: fill $time__slow $ease__linear;
      }
    }
  }

  &:hover {
    color: $color__primary;
    transition: color $time__quick $ease__linear;

    .logo__icon {
      svg {
        fill: $color__primary;
        transition: fill $time__quick $ease__linear;
      }
    }
  }

  &:active {
    transition: none;
  }
}

.logo__icon {
  transform: translateY(5px);
  margin-right: 8px;

  svg {
    width: 17px;
    height: auto;
  }
}

.logo__icon--light {
  svg {
    fill: $grey__light;
  }
}

.logo__icon--dark {
  svg {
    fill: $grey__dark;
  }
}

.logo__text {
  font-size: inherit;
  font-weight: inherit;
}
