// ============
// MASTHEAD ===
// ============

.masthead {
  max-width: $width__content;
  width: 100%;
  font-family: $typeface__secondary;
  font-size: $fontsize__reg + 0;
  font-weight: 600;
  margin: 0 auto;
  color: $grey__dark;
  z-index: 20;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $air + 3 0;
  opacity: 1;
  box-shadow: 0 1px $grey__light;
}

.logo {
  z-index: 8;
}

.hero {
  // When nested in the hero component
  .masthead {
    // Don't show the underline
    box-shadow: none;
  }
}

.navigation,
.navigation__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: left 0s;
  transition-delay: 0s;
  z-index: 7;
}

.navigation__hamburger-button {
  display: none;

  .navigation__hamburger-icon {
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-left: 4px;
    fill: $grey__dark;
    transform: translateY(3px);
    position: relative;
    overflow: hidden;
  }

  .navigation__menu-icon,
  .navigation__close-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigation__menu-icon {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity $time__slow $quart-in 0s,
      transform $time__slow $quart-in 0s;
  }

  .navigation__close-icon {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity $time__slow $quart-in 0s,
      transform $time__slow $quart-in 0s;
  }

  &.open {
    .navigation__menu-icon {
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity $time__slow $quart-out 0s,
        transform $time__slow $quart-out 0s;
    }

    .navigation__close-icon {
      opacity: 1;
      transform: translateX(0%);
      transition: opacity $time__slow $quart-out 0s,
        transform $time__slow $quart-out 0s;
    }
  }

  &:hover {
    color: $color__primary;

    .navigation__hamburger-icon {
      fill: $color__primary;
    }

    .navigation__close-icon {
      fill: $color__primary;
    }
  }
}

// Navigation links and states
.logo,
.navigation__link {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
    transition: color $time__slow $ease__linear;

    .logo__icon {
      svg {
        fill: $grey__dark;
        background-color: none;
        transition: fill $time__slow $ease__linear;
      }
    }
  }

  &:hover {
    color: $color__primary;
    transition: color $time__quick $ease__linear;

    .logo__icon {
      svg {
        fill: $color__primary;
        transition: fill $time__quick $ease__linear;
      }
    }
  }

  &:active {
    transition: none;
  }
}

.navigation__link {
  &:link,
  &:visited {
    margin-left: $baseline / 1.5;
  }

  &:first-child {
    margin-left: 0;
  }
}

// Stays at bottom of file to overwrite Homepage mods
.navigation__link--active {
  &:link,
  &:visited {
    color: $color__primary;
  }

  &:hover {
    color: $color__primary--light;
  }

  &:active {
    transition: none;
  }
}

// =====================
// RESPONSIVE
// =====================

// 700px
@include mq($until: tablet--xl) {
  .masthead {
    padding: $air 0;
  }

  .navigation__hamburger-button {
    display: inline-block;
    z-index: 5;
  }

  .navigation__link:link,
  .navigation__link:visited {
    margin-left: 0;
    margin-right: 0;
  }

  .navigation__link:first-child {
    margin-left: 0;
  }

  .navigation__menu {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    font-family: $typeface__secondary;
    font-size: $fontsize__med;
    font-weight: 500;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 12vh 0 10vh;
    background-color: $grey__light;
    opacity: 0.5;
    top: 0;
    left: 100%;
    transform: translateX(100%);
    z-index: 3;
    transition: opacity $time__slow $quart-in, transform $time__slow $quart-in,
      left 0s linear $time__slow;

    .navigation__link {
      opacity: 0;
      transition: opacity $time__med $quart-in;
    }

    @for $i from 1 through 10 {
      .navigation__link:nth-child(#{$i}) {
        transition-delay: $time__med * ($i / 2);
      }
    }

    &.open {
      display: flex;
      transform: translateX(0%);
      left: 0;
      opacity: 1;
      transition: opacity $time__slow $quart-out,
        transform $time__slow $quart-out, left 0s;

      .navigation__link {
        opacity: 1;
      }
    }
  }
}
