// ==============
// PAGINATION ===
// ==============

.section__pagination {
  margin-top: $baseline * 2 - 12;
  margin-bottom: $baseline * 2 - 12;
}

  .section__pagination--bottom {
    margin-top: $baseline * 2 - 12;
    padding-top: $baseline * 2 - 12;
  }

.pagination {
  display: inline-block;
  margin: 0 auto;
  padding: $baseline / 1.5 0;
  text-align: center;
  font-size: $fontsize__xsmall;
  @include section-separator--bottom;

  .subnav__icon {
    margin: 0;

    svg {
      height: 11px;
      width: auto;
      margin-bottom: -1px;
      fill: darken($grey__light, 15%);
    }
  }
}

  .pagination--bottom {
    @include section-separator;
  }

  .pagination__item {
    display: inline-block;

    a {
      &:link, &:visited {
        display: inline-block;
        margin: auto;
        padding: 11px 17px;
        box-shadow: none;
        font-weight: 600;

        svg {
          fill: $color__primary;
          transition: transition($time__med, $ease__in-out);
        }
      }

      &:hover {
        @include button--hover();

        svg {
          fill: $grey__xlight;
          transition: transition($time__med, $ease__in-out);
        }
      }

      &:active, &:focus {
        @include button--active();

        svg {
          fill: $grey__xlight;
          transition: none;
        }
      }
    }
  }

  .pagination__item--active {
    a {
      &:link, &:visited {
        @include button--idle(
          $color__primary,
          $grey__xlight
        );
      }
    }
  }

  .pagination__item--greyed {
    padding: 11px 17px;
  }
